@font-face {
  font-family: "minnie";
  src: url("../fonts/Minnie.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mickey";
  src: url("../fonts/MICKEY.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "impress";
  src: url("../fonts/ImpressBT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
