@import "@/styles/globals.css";

.tab-container {
  @apply justify-center items-center gap-2;
}

.tab-btn {
  @apply aria-selected:bg-pink-500 aria-selected:text-white
        disabled:bg-pink-100 disabled:text-pink-200 disabled:cursor-not-allowed
        rounded-t-lg px-2 text-xs sm:text-2xl bg-pink-200 text-pink-500;
}

.dark .tab-btn {
  @apply aria-selected:text-blue-100 aria-selected:bg-blue-600 
  disabled:bg-gray-1000 disabled:text-gray-800
  bg-blue-900 text-blue-700;
}

.tab-btn:not([aria-selected="true"]:hover):not([disabled]):hover {
  @apply hover:duration-200 hover:text-pink-700;
}

.dark .tab-btn:not([aria-selected="true"]:hover):not([disabled]):hover {
  @apply hover:duration-200 hover:text-blue-300 hover:bg-blue-900;
}

.tab-content {
  @apply transition-all duration-500 ease-in-out transform;
}

.info-container {
  @apply flex flex-shrink overflow-hidden justify-center md:space-x-2
   text-pink-900 bg-pink-100 border-pink-500
   p-2 shadow-lg rounded-xl border-4;
}

.dark .info-container {
  @apply rounded-xl text-blue-100 bg-gray-1200 shadow-gray-1300 border-blue-600;
}

.left-info-container {
  @apply hidden lg:flex flex-col flex-none w-24 md:w-48 xl:w-64 py-1;
}

.right-info-container {
  @apply flex flex-col flex-grow h-full;
}

.toon-photo img {
  @apply flex justify-center pt-4 h-auto max-w-full;
}

/* 
 
            OVERVIEW


*/
.activity-info-container {
  @apply flex justify-center text-sm sm:text-lg 2xl:text-2xl space-x-1 sm:space-x-4 pb-2 text-nowrap;
}

.activity-bubble {
  @apply inline-flex items-center rounded-xl px-2 space-x-2 bg-blue-600 text-gray-100 scale-up;
}

.dark .activity-bubble {
  @apply bg-blue-500 text-gray-1100;
}

.suits-info-container {
  @apply flex flex-col space-y-2 text-3xl;
}

.suit-card {
  @apply md:flex-1 w-full min-w-min bg-pink-200 rounded-xl px-2;
}

.dark .suit-card {
  @apply bg-gray-1000;
}

/* 
 
            FISHING


*/

.fish-container {
  @apply flex flex-col h-full px-1;
}
.fish-header {
  @apply flex text-xl md:text-2xl xl:text-3xl pb-2 justify-between;
}

.fish-item {
  @apply flex items-center h-full;
}

.fish-table-header {
  @apply fish-item text-left text-xl md:text-2xl text-pink-900;
}

.dark .fish-table-header {
  @apply text-pink-100;
}

.fishtank {
  @apply flex-1 w-full space-y-2 overflow-y-auto;
  max-height: 500px;
}

.fish-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-pink-900 scrollbar-track-blue-300
  scrollbar-thumb-rounded-full scrollbar-track-rounded-full pr-2;
}

.dark .fish-scrollbar {
  @apply scrollbar-thumb-pink-900 scrollbar-track-gray-1200;
}

.fish {
  @apply rounded-full px-5 py-2 space-x-2 md:text-xl 
  flex flex-row overflow-hidden border-2
  bg-blue-300 border-pink-700;
}

.dark .fish {
  @apply bg-pink-400 text-gray-1200 border-pink-900;
}

.uncaught-fish {
  @apply text-blue-500 border-blue-400;
}

.dark .uncaught-fish {
  @apply text-pink-900;
}

.fish-table {
  @apply bg-blue-200 border-blue-300 border-4 rounded-lg p-2;
}

.dark .fish-table {
  @apply bg-gray-1000 border-pink-800;
}

.fish-info {
  @apply flex items-center;
}

/* 
 
            SUITS


*/

.tab-suit-container {
  @apply flex flex-row flex-grow w-full space-x-2 py-2 h-full;
}

.dept-container {
  @apply flex flex-col w-2/12 justify-center items-center space-y-2;
}

.suit-container {
  @apply flex flex-col w-full space-y-2;
}

.suit-overview {
  @apply flex bg-blue-200 rounded-full p-4 border-4 border-blue-400 space-x-5
  justify-between items-center shadow-md
  text-xl sm:text-2xl lg:text-3xl 2xl:text-4xl;
}

.dark .suit-overview {
  @apply bg-gray-1000 border-pink-700;
}

.promo-rec {
  @apply flex flex-col flex-grow h-full  rounded-xl shadow-md 
  border-4  p-2 px-20 items-center relative
  border-blue-400 bg-blue-200;
}

.dark .promo-rec {
  @apply border-pink-700 bg-gray-1000;
}

.dept-photo {
  @apply flex justify-center w-24 h-fit max-w-full;
}

.promo-item {
  @apply flex items-center space-x-3 justify-center;
}

.promo-count {
  @apply flex bg-pink-900 text-gray-100 px-2 rounded-full justify-center items-center
  text-lg md:text-xl lg:text-2xl;
}

.promo-activity {
  @apply text-2xl sm:text-2xl md:text-2xl lg:text-3xl;
}

.suit-btn {
  @apply scale-up rounded-full;
}

.suit-btn[aria-selected="true"] {
  @apply aria-selected:bg-pink-800;
  box-shadow: 0 0 10px var(--pink-900);
}
.dark .suit-btn[aria-selected="true"] {
  @apply aria-selected:bg-blue-400;
  box-shadow: 0 0 8px var(--blue-400);
}

.suit-btn:disabled .dept-photo,
.dept-photo.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* 
 
            ACTIVITIES


*/

.activity-container {
  @apply md:w-1/2 bg-blue-200 border-4 border-blue-300 rounded-xl p-2;
}

.dark .activity-container {
  @apply bg-gray-1100 border-pink-700 text-pink-500;
}

.activity-header {
  @apply text-3xl;
}

.activity-header-container {
  @apply flex flex-row justify-center pb-2;
}

.trophy-total {
  @apply md:w-1/2 text-right;
}

.activity-name {
  @apply flex flex-row text-left items-center space-x-2 w-full text-3xl;
}

.trophies {
  @apply rounded-full px-2 py-3 space-x-2 md:text-xl 
  flex flex-row overflow-hidden justify-center items-center
  bg-blue-300;
}

.dark .trophies {
  @apply bg-pink-400 text-gray-1200;
}

/* 
 
            TASKS


*/

.task-container {
  @apply flex flex-col justify-center items-center relative shrink;
}

.task-title {
  @apply font-semibold text-sm sm:text-xl lg:text-xl 2xl:text-2xl px-2
  mt-8 sm:mt-12 2xl:mt-24
  text-pink-900;
}

.task-location {
  @apply text-sm sm:text-xl lg:text-xl 2xl:text-2xl 
  text-pink-800 pb-2;
}

.task-progress {
  @apply text-sm sm:text-xl lg:text-xl 2xl:text-2xl items-center p-2
  bg-opacity-10 border-2
  border-t-gray-800 border-l-gray-800 border-b-white border-r-white;
}

.dark .task-progress {
  @apply text-blue-900;
}

.task-reward {
  @apply text-red-500 dark:text-red-600 text-sm sm:text-lg 2xl:text-xl;
}

.task-size {
  @apply w-52 h-52 sm:w-72 sm:h-72 md:h-80 md:w-80 2xl:w-96 2xl:h-96;
}

/* 

    REWARDS

*/

.tab-reward-container {
  @apply flex flex-row flex-grow w-full space-x-2 py-2 h-full;
}

.reward-container {
  @apply flex flex-col w-2/12 space-y-1;
}

.reward-btn {
  @apply flex flex-col items-center justify-center w-full relative;
}

.base-image {
  @apply w-28 object-contain;
}

.overlay-image {
  @apply flex w-3/4 h-3/4 absolute object-contain;
}

.reward-display {
  @apply flex flex-col space-y-2 bg-blue-200 p-4 border-4 border-blue-400
  shadow-md h-full rounded-xl
  text-xl sm:text-2xl lg:text-3xl 2xl:text-4xl;
}

.dark .reward-display {
  @apply bg-gray-1000 border-pink-700;
}
