@font-face {
    font-family: 'minnie'; /* Name your font */
    src: url('../fonts/Minnie.TTF') format('truetype'); /* Path to your font file */
    font-weight: normal; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
}

@font-face {
    font-family: 'mickey'; /* Name your second font */
    src: url('../fonts/MICKEY.TTF') format('truetype'); /* Path to your font file */
    font-weight: normal; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
}

@font-face {
    font-family: 'impress'; /* Name your second font */
    src: url('../fonts/ImpressBT.ttf') format('truetype'); /* Path to your font file */
    font-weight: normal; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
}
