.tab-container {
  @apply flex flex-wrap justify-center items-center gap-3;
}

.tab-btn {
  @apply aria-selected:bg-violet-500 aria-selected:text-white 
        transition ease-in 
        disabled:bg-gray-100 disabled:text-gray-400
        rounded-full px-2 text-2xl bg-gray-200;
}

.tab-btn:not([aria-selected="true"]:hover):not([disabled]):hover {
  @apply hover:duration-200 hover:text-gray-700 hover:bg-gray-300;
}

.tab-content {
  @apply transition-all duration-500 ease-in-out transform;
}

.cmd-container {
  @apply grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 
      lg:grid-cols-3 gap-4 md:gap-6;
}

.info-container {
  @apply flex w-full h-full overflow-hidden justify-center space-x-2
  text-violet-800 bg-violet-100 rounded-xl border-4 border-violet-400  
  p-2 shadow-md shadow-violet-100;
}

.left-info-container {
  @apply flex flex-col w-1/4 py-1;
}

.right-info-container {
  @apply flex flex-col flex-grow h-full;
}

.activity-info-container {
  @apply flex justify-center text-3xl space-x-4 pb-2;
}

.suits-info-container {
  @apply flex flex-col space-y-2;
}

.toon-photo img {
  @apply flex justify-center pt-4 h-auto max-w-full;
}

.suit-card {
  @apply flex-1 w-full min-w-min;
}

.activity-bubble {
  @apply inline-flex items-center rounded-full px-2 space-x-2 bg-violet-200 text-violet-800;
}

.fish-container {
  @apply flex flex-col h-full px-1;
}

.fish-header {
  @apply flex text-3xl pb-2 justify-between;
}

.fish-item {
  @apply flex items-center justify-center h-full;
}

.fishtank {
  @apply flex-1 w-full space-y-2 overflow-y-auto;
  max-height: 415px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Firefox */
}

.fish-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-violet-700 scrollbar-track-violet-200 
  active:scrollbar-thumb-violet-800 scrollbar-thumb-rounded-full scrollbar-track-rounded-full
  pr-2;
}

.fish {
  @apply bg-violet-200 rounded-full px-5 py-2 space-x-2 md:text-lg flex flex-row overflow-hidden;
}

.fish-info {
  @apply flex items-center;
}

.fish-btn {
  @apply rounded-full px-1
  transition ease-in hover:duration-150
  enabled:bg-violet-700 enabled:hover:bg-violet-500
  disabled:bg-violet-200;
}

.fish-btn-enabled {
  @apply bg-violet-700 hover:bg-violet-500;
}

.tab-suit-container {
  @apply flex flex-row flex-grow w-full space-x-2 py-2 h-full;
}

.dept-container {
  @apply flex flex-col w-2/12 justify-center items-center space-y-2;
}

.suit-container {
  @apply flex flex-col w-full space-y-2;
}

.suit-overview {
  @apply flex bg-violet-200 rounded-full p-4 border-4 border-violet-300 space-x-5
  justify-between items-center shadow-md;
}

.promo-rec {
  @apply flex flex-col flex-grow h-full bg-violet-200 rounded-xl shadow-md 
  border-4 border-violet-300 p-2 px-20 items-center relative;
}

.dept-photo {
  @apply flex justify-center w-24 h-fit max-w-full;
}

.promo-item {
  @apply flex items-center space-x-3 justify-center;
}

.promo-count {
  @apply flex bg-violet-700 text-white px-2 rounded-full justify-center items-center
  text-2xl;
}

.promo-activity {
  @apply text-3xl;
}

.suit-btn {
  @apply scale-up aria-selected:bg-violet-900 aria-selected:shadow-md 
  aria-selected:shadow-violet-400 rounded-full;
}

.suit-btn:disabled .dept-photo,
.dept-photo.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.scale-up {
  @apply transition hover:delay-150 hover:scale-105 scale-100;
}
