.tab-container {
  @apply flex flex-wrap justify-center items-center gap-3;
}

.tab-btn {
  @apply aria-selected:bg-violet-500 aria-selected:text-white 
        transition ease-in 
        hover:duration-200 hover:text-gray-700 hover:bg-gray-300
        disabled:bg-gray-100 disabled:text-gray-400
        rounded-full px-2 text-2xl bg-gray-200;
}

.tab-content {
  @apply transition-all duration-500 ease-in-out transform;
}

.cmd-container {
  @apply grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 
      lg:grid-cols-3 gap-4 md:gap-6;
}

.info-container {
  @apply flex w-full overflow-hidden items-stretch justify-center space-x-2
  text-violet-800 bg-violet-100 rounded-xl border-4 border-violet-400  
  p-2 shadow-md shadow-violet-100;
}

.left-info-container {
  @apply flex flex-col w-1/4 py-1;
}

.right-info-container {
  @apply flex flex-col flex-grow;
}

.activity-info-container {
  @apply flex justify-center text-3xl space-x-4 pb-2;
}

.suits-info-container {
  @apply flex flex-col space-y-2;
}

.toon-photo img {
  @apply flex justify-center pt-4 h-auto max-w-full;
}

.suit-card {
  @apply flex-1 w-full min-w-min;
}

.activity-bubble {
  @apply inline-flex items-center rounded-full px-2 space-x-2 bg-violet-200 text-violet-800;
}

.fish-container {
  @apply flex flex-col h-full px-1;
}

.fish-header {
  @apply flex text-3xl pb-2 justify-between;
}

.fish-item {
  @apply flex items-center justify-center h-full;
}

.fishtank {
  @apply flex-1 w-full space-y-2 overflow-y-auto;
  max-height: 415px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Firefox */
}

.fish-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-violet-700 scrollbar-track-violet-200 
  active:scrollbar-thumb-violet-800 scrollbar-thumb-rounded-full scrollbar-track-rounded-full
  pr-2;
}

.fish {
  @apply bg-violet-200 rounded-full px-5 py-2 space-x-2 md:text-lg flex flex-row overflow-hidden;
}

.fish-info {
  @apply flex items-center;
}

.fish-btn {
  @apply rounded-full px-1
  transition ease-in hover:duration-150
  enabled:bg-violet-700 enabled:hover:bg-violet-500
  disabled:bg-violet-200;
}

.fish-btn-enabled {
  @apply bg-violet-700 hover:bg-violet-500;
}

.tab-suit-container {
  @apply flex space-x-2 py-2;
}

.dept-container {
  @apply flex flex-col w-2/12;
}

.suit-container {
  @apply flex w-full space-x-2;
}

.suit-overview {
  @apply flex flex-col w-4/12;
}

.promo-rec {
  @apply flex-1;
}

.dept-photo {
  @apply flex justify-center w-24 h-fit max-w-full;
}

.promo-item {
  @apply flex items-center space-x-2;
}

.promo-count {
  @apply flex bg-violet-700 text-white px-2 rounded-full justify-center items-center;
}

.promo-activity {
  @apply text-xl;
}
