@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto; /* Allow vertical scrolling */
}

.page-container {
  @apply flex flex-col h-screen bg-gags-pattern bg-repeat overflow-y-auto;
}

.minnie-title {
  @apply font-semibold font-minnie text-gray-800;
}

.card-container {
  @apply flex w-full items-center justify-center;
}

.test-outline {
  @apply outline outline-red-500;
}
