@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
    height: 100%;
    margin: 0;
    overflow-y: auto; /* Allow vertical scrolling */
}

.page-container {
    @apply flex flex-col h-screen bg-gags-pattern bg-repeat overflow-y-auto
}

.minnie-title {
    @apply font-semibold font-minnie text-gray-800
}

.discord-container {
    @apply flex w-full items-center justify-center
}

.discord-card {
    @apply bg-white p-6 md:p-10 rounded-lg shadow-lg text-center border border-gray-300 
    space-y-6 md:space-y-5 mt-10
}

.discord-btn {
    @apply relative flex justify-center items-center w-16 h-16 mx-auto
}

.connect-container {
    @apply flex flex-col items-center bg-white p-6 md:p-10 rounded-lg shadow-lg text-center 
    border border-gray-300 mt-10
}

.step-container {
    @apply md:flex justify-center items-center items-stretch
    md:space-x-8 space-y-8 md:space-y-0
}

.step-card {
    @apply bg-gray-100 p-6 rounded-lg shadow-md border border-gray-300
    flex flex-col max-w-xl
}

.step-name {
    @apply text-2xl font-semibold font-minnie text-gray-800 mb-4
}

.home-card {
    @apply bg-white p-6 md:p-6 rounded-xl shadow-lg text-center border 
    border-gray-300 space-y-6 md:space-y-5 mt-10
}

.cmd-container {
    @apply grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 
    lg:grid-cols-3 gap-4 md:gap-6
}

.tab-container {
    @apply container flex justify-center items-center w-full space-x-4
}

.tab-btn {
    @apply tab-btn-base bg-gray-200 
}

.curr-tab-btn {
    @apply tab-btn-base bg-indigo-500 text-white
}

.tab-btn-base {
    @apply rounded-full px-2 text-2xl shadow-md
}

.tab-content {
    @apply pb-2
}

.text-block {
    @apply block pb-2
}

.add-btn {
    @apply scale-up shadow-md py-1 px-3 bg-indigo-500 text-white rounded-full cursor-pointer
}

.scale-up {
    @apply transition hover:delay-150 hover:scale-105 scale-100
}

.disclaimer-text {
    @apply text-xs text-gray-400 mt-4 
    bg-gray-100 p-1 rounded-full
}

.test-outline {
    @apply outline outline-red-500
}