@import "@/app/globals.css";
.discord-card {
  @apply bg-white p-6 md:p-10 rounded-lg shadow-lg text-center border border-gray-300 
      space-y-6 md:space-y-5 mt-10;
}

.discord-btn {
  @apply relative flex justify-center items-center w-16 h-16 mx-auto;
}
