@import "@/app/globals.css";
.connect-container {
  @apply flex flex-col items-center bg-white dark:bg-gray-1000 p-6 md:p-10 rounded-lg shadow-lg text-center 
      border border-gray-300 mt-10;
}

.dark .connect-container {
  @apply bg-gray-1400 border-gray-1200;
}

.step-container {
  @apply md:flex justify-center items-center
      md:space-x-8 space-y-8 md:space-y-0;
}

.step-card {
  @apply bg-gray-100 p-6 rounded-lg shadow-md border border-gray-300
      flex flex-col max-w-xl;
}

.dark .step-card {
  @apply bg-gray-1200 border-gray-1000;
}

.step-name {
  @apply text-2xl font-semibold font-minnie text-gray-1000 dark:text-gray-200 mb-4;
}
