@import "@/styles/globals.css";

.home-card {
  @apply bg-gray-200 rounded-xl shadow-md text-center border-2
  border-white mt-8 w-full md:w-5/6 lg:w-4/5 xl:w-3/4 2xl:w-2/3
  flex flex-col overflow-hidden;
}

.dark .home-card {
  @apply dark:bg-gray-1400 dark:border-gray-1200;
}

.text-block {
  @apply block pb-2 text-xl text-gray-800;
}

.dark .text-block {
  @apply dark:text-gray-300;
}

.add-btn {
  @apply scale-up shadow-md py-1 px-3 bg-blue-700
  text-gray-100 rounded-full cursor-pointer text-xl;
}

.exit-btn {
  @apply scale-up shadow-md py-1 px-3 bg-red-700
    text-gray-100 rounded-full cursor-pointer text-xl;
}

.dark .add-btn {
  @apply text-gray-1300 bg-blue-500;
}

.disclaimer-text {
  @apply text-xs text-gray-600 mt-4 bg-white p-1 shadow-sm rounded-t-xl font-sans;
}

.dark .disclaimer-text {
  @apply text-gray-700 bg-gray-1200;
}

.home-btn {
  @apply p-2 bg-blue-500 rounded-full shadow-md hover:shadow-lg scale-up;
}

.modal-btn {
  @apply hover:underline text-gray-800 dark:text-gray-400;
}

.privacy-title {
  @apply text-2xl text-gray-1000 pt-2;
}

.dark .privacy-title {
  @apply text-gray-100;
}

.faq-container {
  @apply space-y-2;
}

.faq-question {
  @apply text-2xl text-gray-900 dark:text-gray-100;
}

.faq-answer {
  @apply text-xl;
}
