@import "@/app/globals.css";

.tab-container {
  @apply flex flex-wrap justify-center items-center gap-3;
}

.tab-btn {
  @apply aria-selected:bg-blue-800 aria-selected:text-white 
        transition ease-in 
        disabled:bg-gray-200 disabled:text-gray-400
        rounded-full px-2 text-2xl bg-gray-300 text-gray-800;
}

.dark .tab-btn {
  @apply aria-selected:text-blue-900 aria-selected:bg-blue-400 
  disabled:bg-gray-1000 disabled:text-gray-900
  bg-gray-900 text-gray-600;
}

.tab-btn:not([aria-selected="true"]:hover):not([disabled]):hover {
  @apply hover:duration-200 hover:text-gray-800 hover:bg-gray-400;
}

.dark .tab-btn:not([aria-selected="true"]:hover):not([disabled]):hover {
  @apply hover:duration-200 hover:text-gray-500 hover:bg-gray-900;
}

.tab-content {
  @apply transition-all duration-500 ease-in-out transform;
}

.cmd-container {
  @apply grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 
      lg:grid-cols-3 gap-4 md:gap-6;
}

.info-container {
  @apply flex w-full h-full overflow-hidden justify-center md:space-x-2
   text-pink-900 bg-pink-100 border-pink-500
   p-2 shadow-md rounded-xl border-4;
}

.dark .info-container {
  @apply rounded-xl text-blue-100 bg-gray-1200 shadow-gray-1300 border-pink-900;
}

.left-info-container {
  @apply hidden lg:flex flex-col flex-none w-24 md:w-48 xl:w-64 py-1;
}

.right-info-container {
  @apply flex flex-col flex-grow h-full;
}

.toon-photo img {
  @apply flex justify-center pt-4 h-auto max-w-full;
}

/* 
 
            OVERVIEW


*/
.activity-info-container {
  @apply flex justify-center md:text-xl lg:text-2xl xl:text-3xl space-x-4 pb-2;
}

.activity-bubble {
  @apply inline-flex items-center rounded-full px-2 space-x-2 bg-blue-600 text-gray-100;
}

.dark .activity-bubble {
  @apply bg-blue-500 text-gray-1100;
}

.suits-info-container {
  @apply flex flex-col space-y-2;
}

.suit-card {
  @apply flex-1 w-full min-w-min bg-pink-200 rounded-xl;
}

.dark .suit-card {
  @apply bg-gray-1000;
}

/* 
 
            FISHING


*/

.fish-container {
  @apply flex flex-col h-full px-1;
}
.fish-header {
  @apply flex text-xl md:text-2xl xl:text-3xl pb-2 justify-between;
}

.fish-item {
  @apply flex items-center h-full;
}

.fish-table-header {
  @apply fish-item w-2/3 text-xl md:text-2xl text-pink-900;
}

.dark .fish-table-header {
  @apply text-pink-100;
}

.fishtank {
  @apply flex-1 w-full space-y-2 overflow-y-auto;
  max-height: 415px;
}

.fish-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-pink-900 scrollbar-track-blue-300
  scrollbar-thumb-rounded-full scrollbar-track-rounded-full pr-2;
}

.dark .fish-scrollbar {
  @apply scrollbar-thumb-pink-900 scrollbar-track-gray-1200;
}

.fish {
  @apply rounded-full px-5 py-2 space-x-2 md:text-xl 
  flex flex-row overflow-hidden border-2
  bg-blue-300 border-blue-400;
}

.dark .fish {
  @apply bg-pink-400 text-gray-1200 border-pink-900;
}

.fish-table {
  @apply bg-blue-200 border-blue-300 border-4 rounded-lg p-2;
}

.dark .fish-table {
  @apply bg-gray-1100 border-gray-900;
}

.fish-info {
  @apply flex items-center;
}

/* 
 
            SUITS


*/

.tab-suit-container {
  @apply flex flex-row flex-grow w-full space-x-2 py-2 h-full;
}

.dept-container {
  @apply flex flex-col w-2/12 justify-center items-center space-y-2;
}

.suit-container {
  @apply flex flex-col w-full space-y-2;
}

.suit-overview {
  @apply flex bg-blue-200 rounded-full p-4 border-4 border-blue-400 space-x-5
  justify-between items-center shadow-md
  text-xl sm:text-2xl lg:text-3xl 2xl:text-4xl;
}

.dark .suit-overview {
  @apply bg-gray-1000 border-pink-900;
}

.promo-rec {
  @apply flex flex-col flex-grow h-full  rounded-xl shadow-md 
  border-4  p-2 px-20 items-center relative
  border-blue-400 bg-blue-200;
}

.dark .promo-rec {
  @apply border-pink-900 bg-gray-1000;
}

.dept-photo {
  @apply flex justify-center w-24 h-fit max-w-full;
}

.promo-item {
  @apply flex items-center space-x-3 justify-center;
}

.promo-count {
  @apply flex bg-pink-900 text-gray-100 px-2 rounded-full justify-center items-center
  text-lg md:text-xl lg:text-2xl;
}

.promo-activity {
  @apply text-2xl sm:text-2xl md:text-2xl lg:text-3xl;
}

.suit-btn {
  @apply scale-up rounded-full;
}

.suit-btn[aria-selected="true"] {
  @apply aria-selected:bg-pink-800;
  box-shadow: 0 0 10px var(--pink-900);
}
.dark .suit-btn[aria-selected="true"] {
  @apply aria-selected:bg-blue-400;
  box-shadow: 0 0 8px var(--blue-400);
}

.suit-btn:disabled .dept-photo,
.dept-photo.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* 
 
            ACTIVITIES


*/

.activity-container {
  @apply w-1/2 bg-blue-200 border-4 border-blue-300 rounded-xl p-2;
}

.dark .activity-container {
  @apply bg-gray-1100 border-gray-900 text-pink-500;
}

.activity-header {
  @apply text-3xl;
}

.activity-header-container {
  @apply flex flex-row justify-center pb-2;
}

.trophy-total {
  @apply w-1/2 text-right;
}

.activity-name {
  @apply flex flex-row text-left items-center space-x-2 w-full text-3xl;
}

.trophies {
  @apply rounded-full px-2 py-3 space-x-2 md:text-xl 
  flex flex-row overflow-hidden
  bg-blue-300;
}

.dark .trophies {
  @apply bg-gray-700 text-gray-1200;
}

/* 
 
            TASKS


*/

.task-container {
  @apply h-64 w-full bg-blue-200 border-blue-300 border-4 rounded-xl p-2
  flex flex-col justify-between overflow-hidden;
}

.dark .task-container {
  @apply bg-gray-1100 border-gray-900 text-pink-500;
}

.task-title {
  @apply text-base sm:text-xl lg:text-xl xl:text-2xl text-pink-900 dark:text-pink-100;
}

.task-location {
  @apply text-base sm:text-xl lg:text-xl xl:text-2xl text-pink-800 dark:text-pink-200 pb-2;
}

.task-progress {
  @apply text-base sm:text-xl lg:text-xl xl:text-2xl items-center p-2 rounded-xl
  bg-blue-300 bg-opacity-10 border-pink-800 border-2;
}

.dark .task-progress {
  @apply bg-pink-400 text-gray-1200 border-pink-900;
}

.task-reward {
  @apply text-red-500 dark:text-red-300 lg:text-lg xl:text-xl;
}
